<div class="container-fluid info-modules">
	<div id="ingredientModule" class="col-md-6 border">
		<h2 class="moduleTitle">Ingredients</h2>
		<ul id="ingredients">
				<li class=ingredientsHeader>
					<h3 class="name-col">Name</h3>
					<h3 class="abv-col">ABV</h3>
					<h3 class="volume-col">Volume</h3>
					<h3 class="unit-col">Unit</h3>
				</li>

			
				<%= form_tag "/recipes/calculate", class:"new_recipe", remote: true, method: 'GET' do%>
				<div class="additionalIngredients">
					<script id="ingredient-template" type="text/template">
						<li>
							<%= text_field_tag "ingredients[][name]", nil, class: 'name-col'%>
							<%= text_field_tag "ingredients[][abv]", nil, class: 'abv-col'%>
							<%= text_field_tag "ingredients[][volume]", nil, class: 'volume-col'%>
							<%= select_tag "ingredients[][unit]", options_for_select([['fl oz', 'floz'], ['ml', 'ml'], ['drop', 'drop'], ['dash', 'dash']]), class: 'unit-col'%>
							<button class="deleteIngredientButton btn btn-danger btn-sm">X</button>
						</li>	
					</script>
					<div class="ingredientEntries">
						<% @num_rows.times do%>
							<%= render 'ingredient_form' %>
						<%end%>
					</div>

					<div class="ingredientsOptions">
						<%= text_field_tag "recipe[name]", nil, class: "recipeName", placeholder: "Recipe Name" %>
						<%= radio_button_tag "recipe[method]", "stirred", class: "radio-inline" %>
						<%= label_tag "stirred", "Stirred" %>
						<%= radio_button_tag "recipe[method]", "shaken", class: "radio-inline" %>
						<%= label_tag "shaken", "Shaken" %>
						<%= radio_button_tag "recipe[method]", "built", class: "radio-inline" %>
						<%= label_tag "built", "Built" %>
						<%= check_box_tag "recipe[autoDilute]", true, false %>
						<%= label_tag "autoDilute", "AutoDilute" %>
						<div class="recipeButtons">
							<button class="btn btn-success" id="addIngredientButton">New Row</button>
						</div>
						<div class="hidden-inputs">
							<%= hidden_field_tag 'batch[number]', nil,  class: 'batch-number-hidden'%>
							<%= hidden_field_tag 'batch[input_unit]', nil, class: 'batch-input-unit-hidden'%>
							<%= hidden_field_tag 'batch[output_unit]', 'ml', class: 'batch-output-unit-hidden'%>
						</div>
						
					</div>
				<%end%>
				

			</div>
		</ul>

	</div>
	<div id="statsModule" class="col-md-6 border">
		<h1 class="moduleTitle">Stats</h1>

		<table id='statsList' class="table table-reflow">
			<thead>
				<tr>
					<th>Initial ABV</th>
					<th>Initial Volume</th>
					<th>Dilution</th>
					<th>Final ABV</th>
					<th>Final Volume</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="stats-value statsInitAbv">0</td>
					<td class="stats-value statsInitVolume">0</td>
					<td class="stats-value statsDilution">0</td>
					<td class="stats-value statsFinalAbv">0</td>
					<td class="stats-value statsFinalVolume">0</td>
				</tr>

				<tr>
					<td class="stats-unit statsInitAbv">%</td>
					<td class="stats-unit statsInitVolume">mL</td>
					<td class="stats-unit statsInitDilution">mL</td>
					<td class="stats-unit statsFinalAbv">%</td>
					<td class="stats-unit statsFinalVolume">mL</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="batchesModule" class="col-md-6 border">
		<h1 class="moduleTitle">Batches</h1>
			<button class='batch-unit-toggle btn-info'>Toggle Units</button>
			<div class='batch-options'>
				<%= text_field_tag "batches[number]", nil, class: 'batch-num', placeholder: 'number'%>
				<%= select_tag "batches[unit]", options_for_select([['fl oz', 'floz'], ['ml', 'ml'], ['drinks', 'drinks']]), class: 'batch-input-unit'%>
			</div>
			<table class='table table-reflow batch-stats'>
				<tbody class='batch-stats'>
					<tr class='batch-stats-headers'></tr>
					<tr class='batch-stats-values'></tr>
				</tbody>
			</table>
	</div>
	<div id="recipeModule" class="col-md-6 border">
		<h1 class="moduleTitle">Recipe</h1>
	</div>
</div>


